# Created by .ignore support plugin (hsz.mobi)
### Laravel template
vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
public/.htaccess
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# cdt
storage/documents/tmp/

#others
.vscode/
.idea/
nohup.out

#php storm
.idea/
.htaccess

#lock
composer.lock
yarn.lock
package-lock.json

#config
config/

storage_config.json

storage/weather/