.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}

.tester {
	display: none;
}

.debug .tester {
	position: absolute;
	display: block;
	top: 0;
	left: 25%;
	width: 1mm;
	height: 100%;
	background: green;
}
